[submodule "modules/miss_mic"]
	path = modules/miss_mic
	url = git@github.com:Pequi-Mecanico-Home/miss_mic.git
	branch = CROS_2025
[submodule "modules/miss_wakeword"]
	path = modules/miss_wakeword
	url = git@github.com:Pequi-Mecanico-Home/miss_wakeword.git
	branch = openwakeword
