torchinfo
torchmetrics
openwakeword
pronouncing 
audiomentations
torch_audiomentations
speechbrain
acoustics
piper-phonemize
librosa
soundfile
onnx_tf
tensorflow
datasets
tqdm
spicy
numpy
deep-phonemizer
tensorflow_probability
mutagen
tensorflow-cpu
tf_keras

